.card-title {
    text-align: center;
}
.skillTags {
    text-align: center;
    font-weight: 600;
    color: rgb(23, 81, 243);
    margin-top: 1;
    margin-bottom: 1rem;
}

.card-body {
    text-align: center;
}

.navbar-nav {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: medium;
    font-weight: 400;
}